@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #0a0a0a;
}

@theme {
  --font-sans: Pretendard;
  --breakpoint-3xl: 1920px;
}
